html{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.panels{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}


.panel{
    background: #6B0F9C;
    box-shadow: insert 0 0 0 5px rgba(255, 255, 255) ;
    display: flex;
    flex:1;
    text-align: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    color:white;
    flex-direction: column;
    
    transition:
        font-size 0.7s cubic-bezier(0.61, -0.19, 0.7 , -0.11),
        flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        background 0.2s;
    
}

.panel > *{
    margin: 0;
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}



.panel0{
    background-image: url(images/boat.jfif);
    
}
.panel1{
    background-image: url(images/lion.jpg);
}

 .panel2{
    background-image: url(images/mountain.jfif);
}

 .panel3{
    background-image: url(images/cute-girl.jfif);
}

 .panel4{
    background-image: url(images/lotus.jfif);
}



.panel p{
    font-family:cursive;
    font-size: 1.5em;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000 , -3px -3px 4px black;
}

.panel p:nth-child(2){
    font-size: 2.3em;
}

    
.panel.open { 
    flex: 3;
    font-size: 25px;
}


     
.panel > *:first-child{ transform: translateY(-100%)}
.panel.openactive > *:first-child{ transform:translateY(0)}
.panel > *:last-child{ transform:translateY(100%)}
.panel.openactive > *:last-child{transform:translateY(0)}


